#company_id {
  color: #6610f2;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}
#mainNav .navbar-brand {
  color: #ffc800;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
#mainNav .navbar-brand img {
  width: 30%;
  object-fit: contain;
  padding: 5px 0; /* 위아래 여백 */
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: italic;
  font-weight: 700;
  color: #181616;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  padding-left: 1.8rem;
}

/* nvabar 한줄로 고정시키기 */
.navbar-nav {
  flex-wrap: nowrap !important;
}

.nav-item {
  white-space: nowrap;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffc800;
}

header.masthead {
  padding-top: 20rem;
  padding-bottom: 20rem;
  color: #fff;
  text-align: center;
  background-image: url("/static/OhsungHome/background1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.masthead .masthead-subheading {
  font-size: 3rem;
  font-style: italic;
  line-height: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 2rem;
  color: #fff;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #e63946; /* 기본 붉은색 */
  --bs-btn-border-color: #e63946;

  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d62839; /* hover 레드 */
  --bs-btn-hover-border-color: #d62839;

  --bs-btn-focus-shadow-rgb: 230, 57, 70; /* #e63946 RGB */

  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b91d31; /* active 레드 */
  --bs-btn-active-border-color: #b91d31;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e63946;
  --bs-btn-disabled-border-color: #;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  font-weight: 700;
}

.product-card {
  width: 100%;
  height: 320px; /* 카드 전체 높이 (원하면 조절 가능) */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border: none;
  background: none;
}

.main-point {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  color: #000000;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main-produce {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.custom-wide {
  margin-left: 30rem;
  margin-right: 15rem;
}

.sub-produce {
  display: block;
  font-size: 1.3rem;
  line-height: 1.7;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.safe-wrapper {
  display: flex;
  gap: 1rem; /* 이미지 간 간격 */
}

.safe-mark {
  width: 70%; /* 모든 이미지 동일 크기 */
  height: 70%; /* 동일 세로 크기 → 정렬 깔끔함 */
  object-fit: contain;
}
.col-5 {
  padding-left: 5rem; /* 필요에 따라 2rem, 4rem 조절 */
}

/* 이미지 박스를 일정 크기로 통일 */
.product-card img {
  width: 100%;
  height: 220px; /* 모든 이미지의 높이를 고정 */
  object-fit: contain; /* 비율 유지 + 빈 공간은 투명하게 */
  padding: 10px;
}

/* 제품명 영역 */
.product-card .card-body {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 전체 페이지 높이 설정 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* NAVBAR 아래 콘텐츠가 가려지지 않도록 상단 여백 확보 */
.content {
  padding-top: 100px; /* 네비바 높이만큼 */
}

/* Sticky Footer 구조 */
.wrapper {
  min-height: calc(100vh - 180px); /* 푸터 높이만큼 빼줌 */
}

/* Footer 기본 스타일 */
.footer-nofixed {
  background-color: #535050;
  color: white;
  padding: 1.5rem 0;
  width: 100%;
}

.logo-footer {
  width: 80%;
  height: auto;
}

/* 본문이 footer에 가리지 않도록 */

/* certificate_page CSS */

header.subhead {
  padding-top: 10rem;
  padding-bottom: 10rem;
  color: #fff;
  text-align: center;
  background-image: url("/static/OhsungHome/background1.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

header.subhead .subhead-title {
  font-size: 3rem;
  font-style: italic;
  line-height: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.certi-title {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

.certi-explain {
  color: #737070;
  font-size: 1.7rem;
  line-height: 3rem;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}
